<h2 class="text-center mt-5">Usuario Componente</h2>

<a class="alert-link" [routerLink]='["/usuario-cadastrar"]'> Cadastrar </a>

<p class="mt-3">Lista de Usuarios:</p>

<table class="table">
  <thead class="thead-dark" >
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Senha</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mario</td>
      <td>mario@email.com</td>
      <td>Mario@1234</td>
      <td class="text-right">
         <a class="btn btn-primary" [routerLink]='["/"]'> Visualizar </a>
        | <a class="btn btn-warning" [routerLink]='["/usuario-atualizar"]'> Atualizar </a>
        | <a class="btn btn-danger" [routerLink]='["/usuario-remover"]'> Remover </a>
      </td>
    </tr>
  </tbody>
</table>

<button type="submit" class="btn btn-primary" (click)="listar()">Sign in</button>
